extends layout

block content
  h2 #{title}
  form(method="post", action="/articles/add")
    #form-group
      label タイトル:
      input.form-control(name="title", type="text")
    #form-group
      label 本文:
      textarea.form-control(name="body" rows="10")
    br
    input.btn.btn-primary(type="submit", value="保存")