extend layout

block content
  h2= article.title
  p= article.body
  hr
  a.btn.btn-outline-secondary(href="/article/edit/"+article._id) 編集
  a.btn.btn-danger.delete-article(href="#", data-id=article._id) 削除